h1{
    color: red;
    background: #ec610a;
}
#unico{
    color:rgb(121, 51, 51);
}
.color{

    color: rgb(57, 39, 161);
    font-family: Arial, Helvetica, sans-serif;
    font-size: "50";
    font-family: 'Anton';
}
p{
    background: rgb(0, 255, 221);
    /*margenes de una etiqueta*/
    margin-left: 100px;
    margin-bottom: 30px;
    margin-right: 40px;
    margin-top: 10px;
    text-align: left;
    text-decoration: underline;
    font-family: 'Open Sans';
    font-size: 40px;
}
h2{
    background-color: rgba(45,78,86,0.5);
    text-align: center;
}
div{
    width: 100px;
    height: 100px;
    background-color: hsl(0,50%,50%);
    border-style: solid;
    border-width: 10px;
    border-color: rgb(191, 238, 130);
    border-radius: 20px;
    margin: 50% 50% 50% 50%;
    padding: 10px 0px 10px 10px;
}
body{
    background-image:url("../img/fonfobody.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

